ISS02.flow
[{"id":"a2b3481c.d8e948","type":"template","z":"e0c6be05.d8e8e","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":220,"y":60,"wires":[["104d9bd6.d1adc4","68795288.a255fc"]]},{"id":"a25ea388.4a64f","type":"http in","z":"e0c6be05.d8e8e","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":60,"y":60,"wires":[["a2b3481c.d8e948"]]},{"id":"104d9bd6.d1adc4","type":"http response","z":"e0c6be05.d8e8e","name":"","statusCode":"","headers":{},"x":390,"y":80,"wires":[]},{"id":"6ad9d9fc.eb57b8","type":"http request","z":"e0c6be05.d8e8e","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":210,"y":220,"wires":[["2972fd7b.307a82","80f4a857.a83b48","dc2d3129.313ce","d08e7e54.c8532"]]},{"id":"2972fd7b.307a82","type":"debug","z":"e0c6be05.d8e8e","name":"IssiPos","active":false,"console":"false","complete":"payload","x":240,"y":120,"wires":[]},{"id":"d10f5f9e.8a958","type":"inject","z":"e0c6be05.d8e8e","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":70,"y":220,"wires":[["6ad9d9fc.eb57b8"]]},{"id":"68795288.a255fc","type":"ui_template","z":"e0c6be05.d8e8e","group":"8a239c8e.be7a7","name":"map","order":0,"width":"12","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":390,"y":40,"wires":[[]]},{"id":"80f4a857.a83b48","type":"function","z":"e0c6be05.d8e8e","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["6e50c24.756463c","ec208f38.b9604"]]},{"id":"6e50c24.756463c","type":"ui_text","z":"e0c6be05.d8e8e","group":"5cbcd0ad.d2659","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":680,"y":160,"wires":[]},{"id":"ec208f38.b9604","type":"ui_text","z":"e0c6be05.d8e8e","group":"5cbcd0ad.d2659","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":680,"y":200,"wires":[]},{"id":"43e8d8ba.2fd338","type":"ui_gauge","z":"e0c6be05.d8e8e","name":"","group":"ec54da25.5727d8","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1210,"y":740,"wires":[]},{"id":"789a59c6.26ada8","type":"ui_gauge","z":"e0c6be05.d8e8e","name":"","group":"ec54da25.5727d8","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1210,"y":700,"wires":[]},{"id":"afc76d40.205af","type":"ibmiot in","z":"e0c6be05.d8e8e","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":690,"y":700,"wires":[["5386a426.c86efc","8cd26d95.c0ee2","48cee9ef.0bb378","7c89cb87.7f7134","59d84f4f.6884f","4dbb3642.d3d918"]]},{"id":"d08e7e54.c8532","type":"function","z":"e0c6be05.d8e8e","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl= -100\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":150,"y":340,"wires":[["ec1772d7.65ca","82cc88dd.214e68","1b9a400.35633c"]]},{"id":"1be07c11.a6c094","type":"e-mail","z":"e0c6be05.d8e8e","server":"smtp.gmail.com","port":"465","secure":false,"name":"jw17uj@snpsteam.com , mvk4ibm@gmail.com","dname":"Oof","x":1070,"y":340,"wires":[]},{"id":"c91c189.4b28ae8","type":"function","z":"e0c6be05.d8e8e","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for oof\"\n    msg.payload= \"Hello from oof ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":850,"y":340,"wires":[["1be07c11.a6c094","94921833.d48148"]]},{"id":"92be7942.a69998","type":"inject","z":"e0c6be05.d8e8e","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":850,"y":400,"wires":[["c91c189.4b28ae8"]]},{"id":"94921833.d48148","type":"debug","z":"e0c6be05.d8e8e","name":"email","active":true,"console":"false","complete":"true","x":1070,"y":400,"wires":[]},{"id":"24530a42.2aab26","type":"function","z":"e0c6be05.d8e8e","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":860,"wires":[[]]},{"id":"9028b3ff.80d48","type":"delay","z":"e0c6be05.d8e8e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":80,"y":500,"wires":[["fe9552eb.d322"]]},{"id":"c2804121.c0e04","type":"ibmiot out","z":"e0c6be05.d8e8e","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":610,"y":500,"wires":[]},{"id":"c3badcd9.3a96c","type":"comment","z":"e0c6be05.d8e8e","name":"Check the Code below","info":"","x":160,"y":300,"wires":[]},{"id":"2a0c71ae.4a216e","type":"comment","z":"e0c6be05.d8e8e","name":"IssWebPage","info":"","x":170,"y":20,"wires":[]},{"id":"4dad03ce.7fb7fc","type":"comment","z":"e0c6be05.d8e8e","name":"#2 Use Your GMAIL account","info":"","x":1140,"y":300,"wires":[]},{"id":"9b4ed110.4dbd6","type":"inject","z":"e0c6be05.d8e8e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":540,"wires":[["fe9552eb.d322"]]},{"id":"46dc1215.15d40c","type":"comment","z":"e0c6be05.d8e8e","name":"#1 Adjust the candle number","info":"","x":880,"y":440,"wires":[]},{"id":"9356bfcc.c4e1e","type":"comment","z":"e0c6be05.d8e8e","name":"#1 Adjust the candle number","info":"","x":700,"y":660,"wires":[]},{"id":"5386a426.c86efc","type":"debug","z":"e0c6be05.d8e8e","name":"InComing","active":false,"console":"false","complete":"payload","x":680,"y":760,"wires":[]},{"id":"8cd26d95.c0ee2","type":"function","z":"e0c6be05.d8e8e","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1010,"y":660,"wires":[["e103cb62.fdf068"]]},{"id":"48cee9ef.0bb378","type":"function","z":"e0c6be05.d8e8e","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":700,"wires":[["789a59c6.26ada8"]]},{"id":"7c89cb87.7f7134","type":"function","z":"e0c6be05.d8e8e","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":740,"wires":[["43e8d8ba.2fd338"]]},{"id":"e103cb62.fdf068","type":"ui_gauge","z":"e0c6be05.d8e8e","name":"","group":"ec54da25.5727d8","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1210,"y":660,"wires":[]},{"id":"9b621819.064e58","type":"function","z":"e0c6be05.d8e8e","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["c2804121.c0e04","ceda406.2fe12c"]]},{"id":"b3d71ea7.ac422","type":"function","z":"e0c6be05.d8e8e","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["c2804121.c0e04"]]},{"id":"3bad1ea.d6344e2","type":"function","z":"e0c6be05.d8e8e","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":620,"wires":[["c2804121.c0e04"]]},{"id":"915e5182.2de6f","type":"inject","z":"e0c6be05.d8e8e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":80,"y":580,"wires":[["3bad1ea.d6344e2"]]},{"id":"fe9552eb.d322","type":"function","z":"e0c6be05.d8e8e","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["c2804121.c0e04"]]},{"id":"c77fff59.5c4c9","type":"comment","z":"e0c6be05.d8e8e","name":"#3 Check email text","info":"","x":830,"y":300,"wires":[]},{"id":"ec1772d7.65ca","type":"switch","z":"e0c6be05.d8e8e","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":340,"y":340,"wires":[["9028b3ff.80d48","f9adf8dc.c9c778","b3d71ea7.ac422","fa709a5c.712b48"],["9b621819.064e58"]]},{"id":"f9adf8dc.c9c778","type":"delay","z":"e0c6be05.d8e8e","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":580,"y":340,"wires":[["c91c189.4b28ae8"]]},{"id":"ceda406.2fe12c","type":"debug","z":"e0c6be05.d8e8e","name":"Not in area","active":true,"console":"false","complete":"true","x":610,"y":420,"wires":[]},{"id":"82cc88dd.214e68","type":"debug","z":"e0c6be05.d8e8e","name":"Check","active":false,"console":"false","complete":"payload","x":130,"y":400,"wires":[]},{"id":"85b19fd8.97f6c","type":"ui_text","z":"e0c6be05.d8e8e","group":"5cbcd0ad.d2659","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":680,"y":260,"wires":[]},{"id":"1b9a400.35633c","type":"function","z":"e0c6be05.d8e8e","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["85b19fd8.97f6c"]]},{"id":"26d8eebd.2872a2","type":"function","z":"e0c6be05.d8e8e","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":740,"wires":[["c2804121.c0e04"]]},{"id":"5956106d.a1d3d","type":"ui_button","z":"e0c6be05.d8e8e","name":"","group":"5cbcd0ad.d2659","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":96.875,"y":780.625,"wires":[["26d8eebd.2872a2"]]},{"id":"fa709a5c.712b48","type":"debug","z":"e0c6be05.d8e8e","name":"In Area","active":true,"console":"false","complete":"true","x":480,"y":300,"wires":[]},{"id":"2a5a9cd0.1dc004","type":"comment","z":"e0c6be05.d8e8e","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":50,"y":1000,"wires":[]},{"id":"59d84f4f.6884f","type":"function","z":"e0c6be05.d8e8e","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1020,"y":600,"wires":[["b06d88fd.b00fa8"]]},{"id":"b06d88fd.b00fa8","type":"ui_text","z":"e0c6be05.d8e8e","group":"ec54da25.5727d8","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":600,"wires":[]},{"id":"dc2d3129.313ce","type":"function","z":"e0c6be05.d8e8e","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["d0e928fd.444998","bd90bbfc.63cf28"]]},{"id":"4dbb3642.d3d918","type":"function","z":"e0c6be05.d8e8e","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1010,"y":560,"wires":[["fd876d9e.bdd74"]]},{"id":"fd876d9e.bdd74","type":"ui_text","z":"e0c6be05.d8e8e","group":"ec54da25.5727d8","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":560,"wires":[]},{"id":"4e98c2bc.7a826c","type":"ui_button","z":"e0c6be05.d8e8e","name":"","group":"5cbcd0ad.d2659","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":90,"y":680,"wires":[[]]},{"id":"d0e928fd.444998","type":"function","z":"e0c6be05.d8e8e","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":80,"wires":[["8974a92b.1a5328","47e024f0.78001c"]]},{"id":"8974a92b.1a5328","type":"ui_text","z":"e0c6be05.d8e8e","group":"5cbcd0ad.d2659","order":4,"width":0,"height":0,"name":"","label":"Distance in Km (10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":100,"wires":[]},{"id":"bd90bbfc.63cf28","type":"ui_chart","z":"e0c6be05.d8e8e","name":"","group":"5cbcd0ad.d2659","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":680,"y":120,"wires":[[],[]]},{"id":"8ba6112d.25bce","type":"ui_text","z":"e0c6be05.d8e8e","group":"5cbcd0ad.d2659","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":60,"wires":[]},{"id":"47e024f0.78001c","type":"function","z":"e0c6be05.d8e8e","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = msg.distance * 6 * 60;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":60,"wires":[["8ba6112d.25bce"]]},{"id":"8a239c8e.be7a7","type":"ui_group","z":"","name":"ISS Area","tab":"fbcf9acb.cada18","order":1,"disp":true,"width":"12"},{"id":"5cbcd0ad.d2659","type":"ui_group","z":"","name":"ISS Infos","tab":"fbcf9acb.cada18","order":2,"disp":true,"width":"6"},{"id":"ec54da25.5727d8","type":"ui_group","z":"","name":"FromPI","tab":"fbcf9acb.cada18","order":3,"disp":true,"width":"6"},{"id":"fbcf9acb.cada18","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
