Test01.flow
[{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}][{"id":"e168c023.daaa9","type":"ibmiot out","z":"4a091401.0dce5c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb21","deviceType":"playbulb","eventCommandType":"setColor","format":"hex","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":694,"y":176,"wires":[]},{"id":"ff9892a2.74a3","type":"debug","z":"4a091401.0dce5c","name":"SendToCandle","active":true,"console":"false","complete":"true","x":684,"y":116,"wires":[]},{"id":"8c987a2f.dd3668","type":"ui_colour_picker","z":"4a091401.0dce5c","name":"","label":"","group":"820eaced.bdd15","format":"hex","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":0,"height":0,"passthru":false,"topic":"","x":202,"y":153,"wires":[["e168c023.daaa9","ff9892a2.74a3"]]},{"id":"542c03db.8e579c","type":"function","z":"4a091401.0dce5c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":333,"wires":[[]]},{"id":"820eaced.bdd15","type":"ui_group","z":"","name":"Action","tab":"730e40f7.848598","disp":true,"width":"6"},{"id":"730e40f7.848598","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"}]
